.certificate {
  font-family: "Oswald", sans-serif;

  &__content {
    padding: 20px;
    width: 100%;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

    &__filter {
      display: inline-block;
      margin: 0 auto;
      border-radius: 25px;
      padding: 4px 4px 1px 4px;
      border: 1px dashed var(--green-theme-main-color);

      li {
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        color: var(--green-theme-main-color);
        text-transform: uppercase;
        padding: 12px 20px;
        overflow: hidden;
        transition: all 0.5s ease;

        &.active {
          background: var(--green-theme-main-color);
          // color: var(--green-theme-sub-text-color);
          color: #ffffff;
          font-weight: bold;
          border-radius: 25px;
        }
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      gap: 1rem;
      
      margin-top: 10px;

      &__item {
        height: 300px;
        cursor: pointer;
        position: relative;
        border: 2px solid #000000;
        border-radius: 10px;

        &:hover .overlay {
          opacity: 1;
        }

        &__image-wrapper {
          height: 100%;
          border-radius: 10px;

          a {
            height: 100%;
            border-radius: 10px;

            img {
              height: inherit;
              object-fit: cover;
              border-radius: 10px;
              width: 100%;
            }
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          border-radius: 9px;
          transition: 0.5s ease;
          background-color: var(--green-theme-main-color);

          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            p {
              // width: 80%;

              color: #ffffff;
              margin: auto;
              font-size: 3.5rem;
              position: relative;
              // text-wrap:wrap;
              overflow: hidden;
              white-space: nowrap;
              animation: tyingEffect 1s steps(30, end);
            }

            button {
              cursor: pointer;
              margin-top: 16px;
              font-size: 2rem;
              padding: 10px 70px;
              background: transparent;
              color: #ffffff;
              border: 2px solid #ffffff;
              border-radius: 4px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .certificate__content__filter > li {
    font-size: 10px;
  }
  .certificate__content__cards {
    grid-template-columns: repeat(1, 1fr);

    &__item {
      .overlay {
        div {
          p {
            font-size: 3rem;
            // text-wrap: wrap;
          }

          button {
            padding: 10px 60px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .certificate__content__filter > li {
    font-size: 13px;
  }
  .certificate__content__cards {
    grid-template-columns: repeat(2, 1fr);

    &__item {
      .overlay {
        div {
          p {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@keyframes tyingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
