// .App{
//     height: 100%;

//     &__main-page-content{
//         height: calc(100% - 80px);
//     }
// }
.App {
  min-height: 100vh; // better than fixed 100%
  display: flex;
  flex-direction: column;
  background: transparent;

  &__main-page-content {
    flex: 1; // allow main content to grow and push footer down
  }
}
